.first{
    background-color: black;
    color: green;
 
    
}
h1 {
    color: gold;
    
  
}
.second{
    background-color: blue;
    color: aliceblue;
}
.third{
    background-color: black;
    color: aliceblue;
}
#text{background-color: black;
color: white; }
#text h1{
    
    color: green;
}